<%# ジャンボトロン %>
<div class="jumbotron jumbotron-extend">
  <h1>農作業を共有しよう！！</h1>
  <p>texttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  <a href="/users/sign_up"><button type="button" class="btn btn-primary">会員登録</button></a>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h4>会員登録をしよう</h4>
      <p><img src="assets/top.jpg"></p>
      <p>One of three columns</p>
    </div>
    <div class="col-lg-4">
      <h4>相手を探そう</h4>
      <p><img src="assets/top.jpg"></p>
      <p>One of three columns</p>
    </div>
    <div class="col-lg-4">
      <h4>チャットで相談しよう</h4>
      <p><img src="assets/top.jpg"></p>
      <p>One of three columns</p>
    </div>
  </div>
</div>