<%# ジャンボトロン %>
<div class="jumbotron">
  <h1>農作業を共有しよう！！</h1>
  <p>texttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  <a href="#"><button type="button" class="btn btn-primary">会員登録</button></a>
</div>