<div class="jumbotron jumbotron-fluid">
  <div class = "jumbotron__contents">
    <h1 class = "jumbotron__contents__title">農作業を共有しよう！！</h1>
    <p class = "jumbotron__contents__message">〜１人で抱え込まないで相談してみませんか〜</p>
    <% if user_signed_in? %>
      <a href="/maps"><button type="button" class="btn btn-primary">助っ人を探す</button></a>
    <% else %>
      <a href="/users/sign_up"><button type="button" class="btn btn-primary">会員登録</button></a>
    <% end %>
  </div>
</div>

<div class="container top-container">
  <div class="card-deck top-container__contents">

    <div class="card top-container__contents__card">
      <img class="card-img-top top-container__contents__card__img" src="<%= asset_path "map.png" %>" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">助っ人を探そう</h5>
        <p class="card-text">マップから近くのユーザーを探してみましょう。マップから近くのユーザーを探してみましょう。マップから近くのユーザーを探してみましょう。</p>
      </div>
    </div>

    <div class="card top-container__contents__card">
      <img class="card-img-top top-container__contents__card__img" src="<%= asset_path "chat.png" %>" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">チャットで相談しよう</h5>
        <p class="card-text">助っ人をお願いしたいユーザーに相談してみよう。助っ人をお願いしたいユーザーに相談してみよう。</p>
      </div>
    </div>

    <div class="card top-container__contents__card">
      <img class="card-img-top top-container__contents__card__img" src="<%= asset_path "top.jpg" %>" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">助っ人に行こう</h5>
        <p class="card-text">手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！</p>
      </div>
    </div>
  </div>
</div>