.jumbotron.jumbotron-fluid
  %h1.jumbotron__title 農作業を共有しよう！！
  %p texttexttexttexttexttexttexttexttexttexttexttexttexttext
  %a{:href => "/users/sign_up"}
    %button.btn.btn-primary{:type => "button"} 会員登録
.container
  .card-deck
    .card
      %img.card-img-top{:alt => "カードの画像", :src => "assets/map.png"}/
      .card-body
        %h5.card-title 助っ人を探そう
        %p.card-text マップから近くのユーザーを探してみましょう。マップから近くのユーザーを探してみましょう。マップから近くのユーザーを探してみましょう。
    .card
      %img.card-img-top{:alt => "カードの画像", :src => "assets/top.jpg"}/
      .card-body
        %h5.card-title チャットで相談しよう
        %p.card-text 助っ人をお願いしたいユーザーに相談してみよう。っ人をお願いしたいユーザーに相談してみよう。
    .card
      %img.card-img-top{:alt => "カードの画像", :src => "assets/top.jpg"}/
      .card-body
        %h5.card-title 助っ人に行こう
        %p.card-text 手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！手伝いに行こう！
