<%# ジャンボトロン %>
<div class="jumbotron jumbotron-extend">
  <h1>農作業を共有しよう！！</h1>
  <p>texttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  <a href="/users/sign_up"><button type="button" class="btn btn-primary">会員登録</button></a>
</div>

<div class="container">
  <div class="card-deck">

    <div class="card">
      <img class="card-img-top" src="assets/top.jpg" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/top.jpg" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/top.jpg" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

  </div>
</div>