<div class="container">
  <h3 class="text-center">チャット画面</h3>
  <div class="messaging">
    <div class="inbox-msg">
      <div class="inbox-people">
        <div class="heading-srch">
          <div class="recent-heading">
            <h4>チャット履歴</h4>
          </div>
          <div class="srch-bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>