<div class="container chat-container">
  <h3 class="text-center">チャット画面</h3>
  <div class="messaging">
    <%# サイドバー %>
    <div class="inbox_msg">
      <div class="inbox_people">
        <%# サイドバー検索 %>
        <div class="heading_srch">
          <div class="recent_heading">
            <h4>チャット履歴</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
          </div>
        </div>
        <%# サイドバー過去のチャット表示 %>
        <div class="inbox_chat">
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
                    <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>