<div class="container chat-container">
  <h3 class="text-center">チャット画面</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <%# サイドバー %>
      <div class="inbox_people">
        <%# サイドバー検索 %>
        <div class="heading_srch">
          <div class="recent_heading">
            <h4>チャット履歴</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
          </div>
        </div>
        <%# サイドバー過去のチャット表示 %>
        <div class="inbox_chat">
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
          <%# 1人分のブロック %>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>Username<span class="chat_date">○月○日</span></h5>
                <p>これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。これはテスト。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# メイン画面 %>
      <div class="mesgs">
        <div class="msg-history">
          <%# 相手からのメッセージ %>
          <div class="incoming_msg">
            <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>相手からメッセージが来た</p>
                <span class="time_date"> 09:12    |    ○月○日</span>
              </div>
            </div>
          </div>
          <%# 自分のメッセージ %>
          <% @messages.each do |message| %>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p><%= message.content %></p>
                <span class="time_date"> 09:33    |    ○月○日</span>
              </div>
            </div>
          <% end %>
          <%# 入力フォーム %>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="メッセージを入力して下さい">
              <button class="msg_send_btn" type="button"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>