<h2>gmap</h2>
<%=  current_user.address %>
<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
//latが緯度、lngが経度を示します
  center: {lat: 35.672799, lng: 139.688},
  zoom: 10
  });
//positionに指定した座標にピンを表示させます
  marker = new google.maps.Marker({
    position:  {lat: 35.672799, lng: 139.688},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key= <%= ENV['GOOGLE_MAP_API_KEY'] %> &callback=initMap" async defer></script>