.chat-container {
  padding-top: 20px;

  .chat-header {

    &__entry {
      display: flex;
      padding: 10px 0;

      &__users {
        display: flex;

        &__user {
          margin-right: 15px;
        }
      }
    }
  }
}

