.jumbotron {
  // background-image: image-url("top4.jpg");
  // background-size: cover;
  // background-position: center 73%;
  height: 33vh;
  padding: 100px;

  &__contents {
    margin-left: 50px;
    color: white;

    &__title {
      font-size: 50px;
      font-weight: bold;
      -webkit-text-stroke: 2px black;
    }
    &__message {
      font-size: 20px;
    }
  }
}

.top-container {

  &__contents {

  }
}

.top-container__contents__card__img {
  width: 200px;
  height: 250px;
}
