@import "modules/top";
@import "modules/application";
@import "modules/user";
@import "modules/map";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 背景色
body {
  background-color: #FFFFEE;
}